<div class="flex flex-col h-screen w-1/6 bg-[#8ad4eb] justify-between items-center" th:fragment="barraLateral(usuario)">
	<div class="h-[12%] w-full flex items-center justify-center">
		<h2 class="text-2xl font-bold text-white text-center">Clinica Solar</h2>
	</div>

	<div class="h-[76%] w-full flex">
		<ul class="w-full" th:switch="${usuario.rol.getIdRol()}">
			<div th:case="1" class="flex flex-col gap-3 w-full px-2">
				<a href="/jefecompras" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Inicio</a>
				<a href="/jefecompras/pedidos" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Ver lista Pedidos</a>
				<a href="/jefecompras/compra" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Realizar Compras</a>
				<a href="/jefecompras/proveedores" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Proveedores</a>
				<a href="/jefecompras/inventario" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Inventarios</a>
			</div>
			<div th:case="2" class="flex flex-col gap-3 w-full px-2">
				<a href="#" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Solicitar Nuevos Elementos</a>
				<a href="#" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Inventario</a>
			</div>
			<div th:case="3" class="flex flex-col gap-3 w-full px-2">
				<a href="/medico/solicitarCompra" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Solicitar Nuevos Elementos</a>
				<a href="#" class="text-lg px-4 py-2 rounded text-white hover:bg-white hover:text-[#82ddfa] transition-colors duration-200 w-full text-center">Inventario</a>
			</div>
		</ul>
	</div>

	<div class="h-[12%] flex flex-col items-center justify-center gap-2 w-full text-white text-sm pb-4">
		<a onclick="confirmarLogout()" class="cursor-pointer hover:underline">Cerrar Sesión</a>
		<div>Acciones</div>
		<div>Acciones</div>
		<div>Acciones</div>
	</div>

</div>
